    svg {
                font: 10px sans-serif;
            }

            .vis-title {
                font: 14px sans-serif;
                font-weight: bold;
                fill: #777;
            }

            .boroughs {
                fill: rgb(222,235,247);
                stroke: #000;
                stroke-width: 0.5px;
            }

            .tooltip {
                position: absolute;
                font-size: 12px;
                width:  auto;
                height: auto;
                pointer-events: none;
                background-color: white;
            }

            .circle-hover {
                stroke: #000;
                stroke-width: 1px;
            }

            .area {
                fill: steelblue;
                fill-opacity: 0.7;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

            .brush .extent {
                stroke: #fff;
                fill: #000;
                fill-opacity: .25;
                shape-rendering: crispEdges;
            }