* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #181818;
  padding: 10px 10px;
    height:110px; !important;
}

.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
    height:100px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
    float: right;
}

.header-left{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}