<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" lang="en" content="Timeline, Timemap, History, Chronology">
    <title>Covid 19 - Stay Informed</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/ex1.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/ex3.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/clusterpies.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/multiline.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/hbar.css" rel="stylesheet" type="text/css" />
    <style>

    .vl {
      border-left: 2px solid red;
      height: 100%;
    }

    </style>
    <link rel="icon" href="../static/img/icons8-connect-48.png" sizes="48x48 96x96" type="image/png">

</head>
<body>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js" charset="utf-8"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <div class="row">
                        <div class="col-md-2" style="padding-top:0; margin-top: 0">
                            <a class="im"><img src="../static/img/corona.webp" width="50px"></a>
                        </div>

                        <div class="col-md-6">
                            <div class="header-left">CoVid-19</div>
                        </div>

                        <div class="col-md-4">
                            <div class="header-right">
                                <a class="" href="#home">Home</a>
                                <a class="" href="#resources">Resources</a>
                                <a class="" href="#about">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="loadingMap" align="center">
                    <img src="../static/img/hands.gif" height="400px">
                    <div class="">Please watch while we load data..</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map_legend" style="visibility: hidden"></div>
                <div id="map" style="visibility: hidden"></div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <div id="country_hbars"></div>
            </div>


            <div class="col-md-7">
                <div class="svg-wrapper">
                    <svg width="1000" height="400" class="svgML"></svg>
                </div>
            </div>

        </div>

        <!--
            <div class="row">
            <div class="col-md-7">
                <div id="timeline"></div>
            </div>
            <div class="col-md-5">
                <div id="map-container"></div>
                <div id="timeline-container"></div>
            </div>
        </div>
        -->

        <hr>


        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <hr>
    </div>




</body>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="../static/js/ex1.js"></script>
    <script src="../static/js/topojson.v1.min.js"></script>
    <script src="../static/js/ex3.js"></script>
    <script src="../static/js/marker_cluster.js"></script>
    <script src="../static/js/multiline.js"></script>
    <script src="../static/js/hbar.js"></script>
</html>



<!--
   <script src="../static/js/loaders.js"></script>
    <script src="../static/js/data.js"></script>

<link href="../static/css/ex2.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.js"></script>
<script type="text/javascript">myVar = myFunc()</script>
<script src="../static/js/ex2.js"></script>
    <script src="../static/js/marker_cluster.js"></script>
-->